@import '../../@theme/styles/themes';

@include nb-install-component() {

  ngx-chartjs-radar {
    padding: 15px;
  }

  ngx-chartjs-pie,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }

  }

  .header .footer {
    text-align: center;
  }

  nb-card-header {
    text-align: center;
  }

  @media (max-width: 768px) {

    .radarChart {
      padding: 10px 0;
    }

    ngx-chartjs-pie,
    ngx-chartjs-radar {
      padding: 0;
      margin: 0;
      height: 250px;
    }
  }
}
