<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="header">
        <h3>Coding Skills</h3>
      </nb-card-header>
      <nb-card-body>
        <ngx-chartjs-radar></ngx-chartjs-radar>
      </nb-card-body>
      <nb-card-footer class="footer">
        Programming languages, Hardware Description Languages, Markup Languages,
        Interpreters
      </nb-card-footer>
    </nb-card>
  </div>

  <div class="col">
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Areas of Expertise</h3>
        </nb-card-header>
        <nb-card-body>
          <ngx-chartjs-pie></ngx-chartjs-pie>
        </nb-card-body>
      </nb-card>
    </div>
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Notable Frameworks, Programing Tools and Hardware</h3>
        </nb-card-header>
        <nb-card-body>
          <b>MEAN stack</b>
          <ul>
            <li>Mongodb Database</li>
            <li>Express Rest API</li>
            <li>Angular Frontend Framework</li>
            <li>NodeJs JavaScript runtime</li>
          </ul>
          <b>Microcontroller/C programming Tooling</b>
          <ul>
            <li>Ceedling (C testing): Unity + Cmock + CException)</li>
            <li>Keil</li>
            <li>Eclipse + GCC + OpenOCD + freeRTOS</li>
            <li>Segger Embedded Studio</li>
            <li>Em::blocks</li>
            <li>MP lab</li>
            <li>Arduino</li>
            <li>Mbed</li>
            <li>System Workbench for STM32</li>
          </ul>
          <b>Hardware Vendor</b>
          <ul>
            <li>ST Microelectronics</li>
            <li>Nordic Semiconductor</li>
            <li>Atmel</li>
            <li>Microchip PIC</li>
            <li>NXP</li>
            <li>NIOS II (Soft CPU written in Verilog)</li>
            <li>FPGA tooling</li>
            <li>Intel FPGA + Quartus / ModelSim</li>
            <li>Intel Nios II Soft Processor</li>
          </ul>
          <b>Electronic Design Automation Software (PCB design)</b>
          <ul>
            <li>Eagle (Cadsoft)</li>
          </ul>
          <b>Testing</b>
          <ul>
            <li>C Programming: Ceedling: Unity + Cmock + CException)</li>
            <li>Javascript: Jest, Jasmin, Karma</li>
          </ul>
          <b>Versioning and Collaborative Software</b>
          <ul>
            <li>Git</li>
          </ul>
          <b>Deployment</b>
          <ul>
            <li>Heroku</li>
          </ul>
          <b>Computer-Aided Design Software (CAD)</b>
          <ul>
            <li>Solidworks</li>
            <li>Catia</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="col">
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Areas of Expertise, let's have a closer look</h3>
        </nb-card-header>
        <nb-card-body>
          <p><strong>Software</strong></p>
          <ul>
            <li>Full stack development</li>
            <li>Database</li>
            <li>Object Oriented Programming</li>
            <li>Software Testing (test Driven Development)</li>
            <li>Software automation</li>
            <li>Deployment</li>
          </ul>
          <p><strong>Embedded Systems</strong></p>
          <ul>
            <li>
              Wireless communications (Bluetooth, WiFi, Zigbee, Thread,
              Proprietary)
            </li>
            <li>Low power, Ultra low power applications</li>
            <li>Microcontrollers</li>
            <li>Real Time Operating Systems</li>
            <li>Robotic</li>
          </ul>
          <p><strong>Hardware/Digital Systems Design</strong></p>
          <ul>
            <li>FPGA (hardware acceleration)</li>
            <li>Printed Circuit Board Design</li>
            <li>Printed Circuit Board Manufacturing (Laser CNC)</li>
            <li>Micro soldering</li>
            <li>Prototyping</li>
            <li>Digital Signal Processing</li>
            <li>Circuit simulation</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Operating Systems</h3>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li>Linux based systems, RPM and Debian</li>
            <li>OSX</li>
            <li>Windows</li>
            <li>ChromeOS</li>
          </ul>
        </nb-card-body>
        <nb-card-footer class="footer">
          Comfortable with a terminal, Bash or PowerShell
        </nb-card-footer>
      </nb-card>
    </div>
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Project Management</h3>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li>
              Managed technical implementations of various projects among a
              reasearch team
            </li>
            <li>Managed multiple student projects</li>
            <li>Financial studies made for our project realisations</li>
            <li>Experienced with report writing</li>
            <li>ULM diagram (code architecture)</li>
            <li>Flow chart diagram (higher level architecture)</li>
            <li>Gantt char (project timeline)</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Communication Skills</h3>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li>Designed and taught 2 hardware classes (laboratories)</li>
            <li>
              instructed students/researchers on many projects within my area of
              expertise
            </li>
            <li>Comfortable working with a team</li>
            <li>
              Learning to present various subjects properly was (and is) an
              important part of my education and current work
            </li>
            <li>Well.. I don’t like to eat alone</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>
    <div>
      <nb-card>
        <nb-card-header class="header">
          <h3>Languages</h3>
        </nb-card-header>
        <nb-card-body>
          <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
