@import '../../@theme/styles/themes';

@include nb-install-component() {

  ngx-chartjs-pie,
  ngx-chartjs-radar {
    display: block;
    // height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .header .footer {
    text-align: center;
  }

  // .chartSkills {
  //   height: nb-theme(card-height-medium);
  // }

  @media (max-width: 768px) {
    .chartSkills {
      height: 800px;
    }
  }
}
