<div class="container" (click)="this.collapseSidebarService.collapseSidebar()">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-6">
      <nb-card id="chartExpertise">
        <nb-card-header class="header">
          <h3>Areas of Expertise</h3>
        </nb-card-header>
        <nb-card-body>
          <ngx-chartjs-pie></ngx-chartjs-pie>
        </nb-card-body>
      </nb-card>

      <nb-card id="framework">
        <nb-card-header class="header">
          <h3>Notable Frameworks, Programing Tools and Hardware</h3>
        </nb-card-header>
        <nb-card-body>
          <b>Full Stack Development</b>
          <ul>
            <li>Angular Frontend Framework</li>
            <li>Express Rest API</li>
            <li>SQL Database (Postgresql)</li>
            <li>NoSQL Database (MongoDb)</li>
            <li>NodeJs JavaScript runtime</li>
          </ul>

          <b>Cloud Computing</b>
          <ul>
            <li>AWS (Associate Developer Certified)</li>
          </ul>

          <b>Embedded Systems</b>
          <ul>
            <li>
              Wireless Microcontrollers
              <ul>
                <li>Nordic Semiconductor (Bluetooth and Thread)</li>
                <li>Texas Instrument (Wifi)</li>
                <li>Microchip (Bluetooth)</li>
              </ul>
            </li>
            <li>
              Regular Microcontrollers
              <ul>
                <li>ST Microelectronics</li>
                <li>Atmel</li>
                <li>Microchip PIC</li>
                <li>NXP</li>
                <li>Arduino and Mbed</li>
              </ul>
            </li>
            <li>
              FPGAs
              <ul>
                <li>Intel FPGA + Quartus / ModelSim</li>
                <li>Intel Nios II Soft Processor</li>
              </ul>
            </li>
            <li>
              Single Board Computers
              <ul>
                <li>Odroid</li>
                <li>Raspberry Pi</li>
              </ul>
            </li>
          </ul>

          <b>Electronic Design Automation Software (PCB design)</b>
          <ul>
            <li>Altium Designer</li>
            <li>Eagle (Autodesk, Cadsoft)</li>
          </ul>

          <b>Testing</b>
          <ul>
            <li>C Programming: Ceedling: Unity + Cmock + CException)</li>
            <li>Javascript: Jest, Jasmin, Karma</li>
          </ul>

          <b>Compiling and programming Tooling</b>
          <ul>
            <li>VScode + GCC + Vendor Flashing/Debug tools</li>
            <li>Keil, Segger Embedded Studio, Code Composer Studio</li>
            <li>Many other proprietry IDE</li>
            <li>Ask me about it</li>
          </ul>


          <b>Versioning and Collaborative Software</b>
          <ul>
            <li>Git</li>
          </ul>

          <b>Computer-Aided Design Software (CAD)</b>
          <ul>
            <li>Solidworks</li>
            <li>Catia</li>
          </ul>

          <b>Operating Systems</b>
          <ul>
            <li>Linux Distros, RPM and Debian</li>
            <li>OSX (my pick for web development)</li>
            <li>Windows (my pick for embedded systems development)</li>
            <li>Comfortable with a terminal</li>
          </ul>
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-12 col-lg-6">
      <nb-card id="expertise">
        <nb-card-header class="header">
          <h3>Areas of Expertise (details)</h3>
        </nb-card-header>
        <nb-card-body>
          <p><strong>Web Technologies</strong></p>
          <ul>
            <li>Database</li>
            <li>Object Oriented Programming</li>
            <li>Software Testing (test Driven Development)</li>
            <li>Software automation</li>
            <li>Deployment</li>
          </ul>
          <p><strong>Embedded Systems and Firmware programming</strong></p>
          <ul>
            <li>
              <b>Wireless communications protocols</b>
              <ul>
                <li>Bluetooth</li>
                <li>Wifi</li>
                <li>Thread 802.15.04</li>
                <li>Lora</li>
                <li>Proprietary</li>
              </ul>
            </li>
            <li>Low power, Ultra low power applications</li>
            <li>Microcontrollers and FPGAs</li>
            <li>Digital Signal Processing</li>
          </ul>
          <p><strong>Hardware and Digital Systems Design</strong></p>
          <ul>
            <li>Printed Circuit Board (PCB) Design</li>
            <li>PCB Manufacturing (with Laser CNC)</li>
            <li>Micro soldering</li>
            <li>Prototyping</li>
          </ul>
          <p><strong>Project Management</strong></p>
          <ul>
            <li>Managed multiple projects</li>
            <li>Budget analysis for each of them</li>
            <li>Kanban methods are my pick</li>
            <li>Agile CI/CD centered methods for the development parts</li>
            <li>Regular in report writing</li>
          </ul>
        </nb-card-body>
      </nb-card>

      <nb-card id="chartCoding">
        <nb-card-header class="header">
          <h3>Coding Skills</h3>
        </nb-card-header>
        <nb-card-body class="radarChart">
          <ngx-chartjs-radar></ngx-chartjs-radar>
        </nb-card-body>
      </nb-card>

      <nb-card id="communication">
        <nb-card-header class="header">
          <h3>Communication Skills</h3>
        </nb-card-header>
        <nb-card-body>
          <ul>
            <li>Designed and taught 2 hardware classes (laboratories)</li>
            <li>
              instructed students/researchers on many projects within my area of
              expertise
            </li>
            <li>Comfortable working with a team</li>
            <li>
              Learning to present various subjects properly was (and is) an
              important part of my education and current work
            </li>
            <li>Well.. I don’t like to eat alone</li>
          </ul>
        </nb-card-body>
      </nb-card>

      <nb-card id="language">
        <nb-card-header class="header">
          <h3>Languages</h3>
        </nb-card-header>
        <nb-card-body>
          <ngx-chartjs-bar-horizontal></ngx-chartjs-bar-horizontal>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
