<div *ngIf="projects">
  <section class="container-fluid px-0">
    <div class="row justify-content-center">
      <div class="col-md-10 col-ld-8 col-xl-7">
        <div *ngFor="let project of projects" class="">
          <nb-card class="cardProject">
            <nb-card-body>
              <ngb-carousel style="outline: none;">
                <ng-template
                  *ngFor="let pictPath of project.mainPictures; let i = index"
                  ngbSlide
                >
                  <div class="text-center">
                    <img
                      class="img-carousel"
                      src="{{ pictPath }}"
                      alt="image {{ i }}"
                    />
                  </div>
                </ng-template>
              </ngb-carousel>

              <div class="details">
                <div class="title">
                  <div [innerHTML]="project.title"></div>
                </div>
                <br />
                <div class="description">
                  <div [innerHTML]="project.summary"></div>
                </div>
                <div class="accordions-container row">
                  <div class="accordion-container" style="margin:0;">
                    <nb-accordion style="width: 100%;">
                      <nb-accordion-item>
                        <nb-accordion-item-header class="accordion-header">
                          <b>More Details...</b>
                        </nb-accordion-item-header>
                        <nb-accordion-item-body>
                          <div [innerHTML]="project.details"></div>
                          <ngb-carousel style="outline: none;">
                            <ng-template
                              *ngFor="
                                let pictPath of project.pictures;
                                let i = index
                              "
                              ngbSlide
                            >
                              <div class="text-center">
                                <img
                                  class="img-carousel"
                                  src="{{ pictPath }}"
                                  alt="image {{ i }}"
                                />
                              </div>
                            </ng-template>
                          </ngb-carousel>
                        </nb-accordion-item-body>
                      </nb-accordion-item>
                    </nb-accordion>
                  </div>
                </div>
              </div>
            </nb-card-body>
            <nb-card-footer>
              <div style="width:100%;">
                <p>{{ project.location }}, {{ project.date }}</p>
                <p>{{ project.tags }}</p>
              </div>
            </nb-card-footer>
          </nb-card>
        </div>
        <!-- *ngFor -->
      </div>
      <!-- col -->
    </div>
    <!-- row -->
  </section>
</div>
<!-- *ngIf projects -->
