<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header style="text-align:center">
        <h2> Don't hesitate to drop me a message ! <br> I'm always interested to discuss / help on inovative projects ! </h2>
      </nb-card-header>
    </nb-card>
  </div>
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <nb-card class="mx-auto" style="width: 500px">
      <nb-card-header class="header" style="text-align:center">
        <br>
        <img src="assets/app_icons/email.svg" alt="email" style="width:200px;height:200px;">
        <br>
        <br>
      </nb-card-header>
      <nb-card-body style="text-align:center">
        <br>
        <h2>Maxime Clement</h2>
        <br>
        <h4>
          maximeclement6
          <img src="assets/app_icons/at-sign.png" alt="email" style="width:25px;height:25px;">
          gmail.com
        </h4>
        <!-- <br> -->
        <!-- <h4>PHONE: &nbsp; (+974) 66 01 41 22</h4> -->
        <br>
      </nb-card-body>
    </nb-card>
  </div>
</div>
