<div
  class="row justify-content-center align-item-center"
  (click)="this.collapseSidebarService.collapseSidebar()"
>
  <nb-card class=" col-12 col-sm-9 col-ld-8 col-xl-7">
    <nb-card-header>
      Don't hesitate to drop a message ! <br/>
      I'm always interested to discuss & help on inovative projects !
    </nb-card-header>
    <nb-card-body>
        maximeclement6
        <img
          src="assets/app_icons/at-sign.png"
          alt="email"
          style="width:25px; height:25px;"
        />
        gmail.com
    </nb-card-body>
    <nb-card-footer>
      <img src="assets/app_icons/email.svg" alt="email" style="height:200px;" />
    </nb-card-footer>
  </nb-card>
</div>

<!-- <button status="primary" nbButton outline>
    <img
      src="assets/app_icons/download.png"
      alt="at"
      style="width:25px; height:25px;"
    />
    &nbsp;&nbsp; <b>CV</b>
  </button> -->