@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-header {
    text-align: center;
    font-size: nb-theme(text-heading-6-font-size)
  }

  nb-card-body {
    font-size: nb-theme(text-heading-5-font-size);
    text-align: center;
  }
  
  nb-card-footer {
    padding: 40px 20px;
    text-align: center;
    font-size: nb-theme(text-heading-6-font-size)
  }
}
