@import '../../@theme/styles/themes';

@include nb-install-component() {

  .mainCard {
    max-width: 620px;
  }

  nb-card-header {
    text-align: center;
    font-size: nb-theme(text-heading-6-font-size);
  }

  nb-card-body {
    padding: 25px;
    text-align: center;
    color: nb-theme(color-primary-400);
    font-size: nb-theme(text-heading-5-font-size);
    line-height: 3.5rem;
  }

  nb-card-body button {
    margin: 0 20px;
  }

  nb-card-footer {
    padding: 40px 20px;
    text-align: center;
    font-size: nb-theme(text-heading-6-font-size);
  }

    @media (max-width: 768px) {
      nb-card-body button {
        margin: 0 20px 10px 20px;
      }
    }
}
