@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {

  nb-card-body {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .picture {
    background-position: center;
    background-size: cover;
    position: relative;
    border-top-left-radius: nb-theme(card-border-radius);
    border-top-right-radius: nb-theme(card-border-radius);
    flex: 1;
  }

  .details {
    padding: 1.25rem 1.25rem 0;
    text-align: justify;
    text-justify: inter-word;

    .title {
      font-family: nb-theme(font-family-secondary);
      font-weight: nb-theme(text-heading-2-font-weight);
      color: nb-theme(text-alternate-color);
      font-size: 2rem;
      margin-bottom: 1rem;

      @include nb-for-theme(cosmic) {
        font-weight: nb-theme(text-heading-3-font-weight);
      }
    }

    .description {
      text-align: justify;
      color: nb-theme(text-control-color);
      font-weight: nb-theme(text-heading-3-font-weight);

      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  nb-card-footer {
    display: flex;
    justify-content: space-around;
    padding: 0.75rem 0;
    border: none;

    a {
      text-decoration: none;
      color: nb-theme(text-basic-color);

      &:hover {
        color: nb-theme(text-alternate-color);
      }

      i {
        font-size: 1.75rem;
      }
    }
  }
}
