<ul class="timeline">
  <li>
    <div class="timeline-badge danger">2016</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">IoT Engineer, Laboratory Manager</h4>
        <p><small>HBKU University, Division of Information & Computing Technology (ICT), Doha, Qatar</small></p>
      </div>
      <div class="timeline-body">
          <img class="card-img-top" src="assets/cv_assets/employerSchool/hbku.png" alt="hbku" style="border-radius:10px">
        <br><br>
        <ul>
          <li>Participate and lead on the <strong> technical implementation of multiple projects</strong>. I have had
            the occasion to work on embedded systems, RF communications, Full-Stack development, digital system design<br /><br /></li>
          <li><strong>Setting-up of an electronic laboratory (for the first6 months)&nbsp;</strong> for the division of
            <strong> Information &amp; Computing Technology (ICT)</strong><br /><br /></li>
          <li><strong>Create and teach several sets of laboratories for the Digital Systems Design course </strong> ,
            which taught me another set of skills: human communications.</li>
        </ul>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge danger">2015</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Embedded Systems Engineer </h4>
        <p><small>Lorraine Research Laboratory in Computer Science and its Applications – LORIA
            (INRIA, CNRS, Université de Lorraine), Nancy, France</small></p>
      </div>
      <div class="timeline-body">
        <img class="card-img-top" src="assets/cv_assets/employerSchool/loria.jpeg" alt="loria" style="border-radius:10px">
        <br><br>
        <p style="text-align: justify;">
          After finishing my internship and validation my MS degree, I continued to work as Embedded Systems Engineer
          for another year and a half. I worked mainly on a rat brain implant device that would allow our team to
          record the neural signal of rat during a set of experimentation. In parallel we worked on the optimization of
          a compression algorithm (named FBAR) needed to increase the efficiency of our data link. When compressing and
          sorting the neural spiking data we can acquire more neural channels (points of acquisition in the brain).
          This required a heavy refactoring on our system by optimizing both the overall compression algorithm and
          optimizing the code itself in order to be able to run on a constrained system (microcontroller).
        </p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Embedded Systems Engineer Internship</h4>
        <p><small>Loria in partnership with ESSTIN, Nancy, France</small></p>
      </div>
      <div class="timeline-body">
        <img class="card-img-top" src="assets/cv_assets/employerSchool/esstinloria.png" alt="loria intern" style="border-radius:10px">
        <br><br>
        <p style="text-align: justify;">My master thesis took place in the LORIA (Lorraine Research Laboratory in Computer Science and its
          Applications). During the 6 month internship I participated to various embedded system related projects. The
          two main components were the development of an acquisition system for moths electrophysiological signals; and
          the feasibility study of the implementation of a cable robot which would follow a moth in-flight and record
          electrophysiological data. .</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Master of Sciences in Embedded Systems & Microsystems Engineering </h4>
        <p><small>Université de Lorraine (UL), Nancy, France</small></p>
      </div>
      <div class="timeline-body">
        <img class="card-img-top" src="assets/cv_assets/employerSchool/ul.png" alt="UL" style="border-radius:10px">
        <br><br>
        <p style="text-align: justify;">	While attending the ESSTIN, I decided to complete a dual master degree in Embedded Systems & Microsystems. This degree was oriented on computer architecture and hardware implementation. This was a great occasion to strengthen my knowledges on advanced subjects related to digital systems design, which gave me solid roots to pursue my career as an IoT engineer.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">Master of Sciences in System Control</h4>
        <p><small>Ecole Supérieure des Sciences et Technologies de l'Ingénieur de Nancy (ESSTIN), Nancy, France</small></p>
      </div>
      <div class="timeline-body">
        <img class="card-img-top" src="assets/cv_assets/employerSchool/esstin.png" alt="lulea" style="border-radius:10px">
        <br><br>
        <p style="text-align: justify;">The ESSTIN is what we call in France a “Grande Ecole d’ingénieur” (Literally “Great School of Engineers”), a school dedicated to form engineer on various subjects. The admission is based on a qualification examination. Then the students spend 5 years being trained on various area from abstract subjects such as Algebra or Analytical Mechanics to applied sciences such a product conception or software design, but also on management and secondarily on literature and human sciences. The specification I chose was Systems and Control, a subject where mathematics, hardware and computer sciences are merging. This diploma is equivalent and recognized as a Master of Science degree (MS).</p>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
      <div class="timeline-badge danger">2013</div>
    <div class="timeline-panel">
    <div class="timeline-heading">
        <h4 class="timeline-title">ERASMUS international student exchange program</h4>
        <p><small>Luleå University of Technology (LTU), Lulea, Sweden</small></p>
      </div>
      <div class="timeline-body">
        <img class="card-img-top" src="assets/cv_assets/employerSchool/lulea.jpeg" alt="lulea" style="border-radius:10px">
        <br><br>
          <p style="text-align: justify;">While completing my MS in France, I participated to the ERAMUS exchange program and studied 8 months in Lulea, north of Sweden (practically on the arctic circle). I studied there electronic and embedded system and created a passion for travelling and discovering new horizons. Every classes is developed around a project that has to complete in order to validate it. This gave the student a highly practical experience on diverse subject along with several lectures and a final more one the theoretical parts.</p>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2008</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <h4 class="timeline-title">High School Diploma</h4>
        <p><small>Lycée Andree Malraux, Remiremont, France</small></p>
      </div>
      <div class="timeline-body">
          <img class="card-img-top" src="assets/cv_assets/employerSchool/malraux.jpg" alt="lulea" style="border-radius:10px">
          <br><br>
        <p style="text-align: justify;">
          It is in the lovely city or Remirement in France that I made my high school studies. Naturally I chose the scientific path that further led me throughout my engineering carier. I graduated with distinctions which enabled my to access the school I wanted to integrate, the ESSTIN.
        </p>
      </div>
    </div>
  </li>
</ul>
