<!-- TOTO: for small screen add a button (hidden with big screen) to display a pop-up about the school
https://akveo.github.io/nebular/docs/components/popover/overview#nbpopoverdirective -->

<ul class="timeline" (click)="this.collapseSidebarService.collapseSidebar()">
  <li>
    <div class="timeline-badge danger">2016</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">IoT Engineer, Laboratory Manager</div>
        <br/>
        <div class="timeline-title">(Current Position)</div>
        <br/>
        <p>
          HBKU University, Division of Information & Computing Technology (ICT),
          Doha, Qatar
        </p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/hbku.png"
          alt="hbku"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
            <b> Management and implementation of multiple projects</b>
            Work on embedded systems, RF communications, Full-Stack development,
            digital system design<br/><br/>
          </li>
          <li>
            <b>Setting-up of an electronic laboratory</b>&nbsp; for the division
            of Information &amp; Computing Technology (ICT) <br/><br/>
          </li>
          <li>
            <b>Create and teach several sets of laboratories</b> for the Digital
            Systems Design course, which taught me another set of skills: human
            communications.
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge danger">2015</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">Embedded Systems Engineer</div>
        <br/>
        <p>
          Lorraine Research Laboratory in Computer Science and its Applications
          – LORIA (INRIA, CNRS, Université de Lorraine), Nancy, France
        </p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/loria.jpeg"
          alt="loria"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
            Design and implementation of a
            <b>rodent brain implant device</b> (hardware, firmware and GUI) that
            would allow our team to record the neural signal of a rodent (mouse,
            rat) during a set of experimentation<br/><br/>
          </li>
          <li>
            <b>Optimization of a FBAR compression algorithm</b> to acquire a
            higher number of neural channels (points of acquisition in the
            brain)<br/><br/>
          </li>
          <li>
            Design and implementation of a
            <b>bluetooth aquisition device </b>for neuromuscular signal of
            living moth.
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">Embedded Systems Engineer Internship</div>
        <br/>
        <p>Loria in partnership with ESSTIN, Nancy, France</p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/esstinloria.png"
          alt="loria intern"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
            Development of an
            <b>
              acquisition system for moths
            </b>
            electrophysiological signals<br/><br/>
          </li>
          <li>
            Feasibility
            <b>study of the implementation of a cable robot </b>which would
            follow a moth in-flight and record electrophysiological data.<br/><br/>
          </li>
          <li>
            <b>Literature review</b> of neuromuscal devices for in flight-moths
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">
          <br/>
          Master of Sciences in Embedded Systems & Microsystems Engineering
        </div>
        <p>Université de Lorraine (UL), Nancy, France</p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/ul.png"
          alt="UL"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
              <b>Dual master degree</b> in Embedded Systems & Microsystems<br/><br/>
          </li>
          <li>
              <b>In parallel</b> to my studies at ESSTIN<br/><br/>
          </li>
          <li>
              <b>Main topics</b>: computer architecture, hardware implementation, firmaware design<br/><br/>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2014</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">Master of Sciences in System Control</div>
        <br/>
        <p>
          Ecole Supérieure des Sciences et Technologies de l'Ingénieur de Nancy
          (ESSTIN), Nancy, France
        </p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/esstin.png"
          alt="lulea"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
              ESSTIN is a “<b>Grande Ecole d’ingénieur</b>”, a school dedicated to form
              engineer on various subjects<br/><br/>
          </li>
          <li>
              Specification I chose was <b>Systems and Control</b>,
          a subject where mathematics, hardware and computer sciences are
          merging<br/><br/>
          </li>
          <li>
              <b>General Sciences and engineering studies</b>: Algebra or
              Analytical Mechanics to applied sciences such a product conception or
              software design, but also on management and secondarily on literature
              and human sciences.<br/><br/>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li class="timeline-inverted">
    <div class="timeline-badge danger">2013</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">
          <br/>
          ERASMUS international student exchange program
        </div>
        <p>
          Luleå University of Technology (LTU), Lulea, Sweden
        </p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/lulea.jpeg"
          alt="lulea"
          style="border-radius:10px;"
        />
        <br/><br/>
        <ul>
          <li>
              Studied 8 months in Lulea, north of Sweden
              (practically on the <b>arctic circle</b>)<br/><br/>
          </li>
          <li>
              T main topics were <b>electronic and embedded system</b>. This is the time I new which carrier to pursue (in IoT) <br/><br/>
          </li>
          <li>
              Created a <b>passion for travelling </b>and discovering new horizons<br/><br/>
          </li>
        </ul>
      </div>
    </div>
  </li>
  <li>
    <div class="timeline-badge danger">2008</div>
    <div class="timeline-panel">
      <div class="timeline-heading">
        <div class="timeline-title">High School Diploma</div>
        <br/>
        <p>Lycée Andree Malraux, Remiremont, France</p>
      </div>
      <div class="timeline-body">
        <img
          class="card-img-top"
          src="assets/cv_assets/employerSchool/malraux.jpg"
          alt="lulea"
          style="border-radius:10px;"
        />
        <br/><br/>
        <p>
          It is in the <b>lovely city of Remirement</b> (France) that I made my high
          school studies. Naturally I chose the scientific path that further led
          me throughout my engineering carier.
        </p>
      </div>
    </div>
  </li>
</ul>
