<div class="container" (click)="this.collapseSidebarService.collapseSidebar()">
 
  <div class="row justify-content-center">
    <div class="col-12" style="margin: 20px;">
      <p class="title">Need <b>IoT</b> in Your Projects ?</p>
      <br>
      <p class="title">I can help with that</p>
    </div>
  </div>

  <div class="justify-content-center smallImg">
    <div class="col-12">
      <div>
        <img class="mainImg" src="assets/home/board.jpg" />
      </div>
      <div class="sign">+</div>
      <div>
        <img class="mainImg" src="assets/home/earth.jpg" />
      </div>
      <div class="sign">=</div>
      <div>
        <img class="mainImg" src="assets/home/iot.jpg" />
      </div>
    </div>
  </div>

  <div class="col-12 bigImg">
    <div class="row align-item-center">
      <div class="d-flex" style="vertical-align: middle;">
        <img class="flex-fill mainImg" src="assets/home/board.jpg" />
        <div class="flex-fill sign">+</div>
        <img class="flex-fill mainImg" src="assets/home/earth.jpg" />
        <div class="flex-fill sign">=</div>
        <img class="flex-fill mainImg" src="assets/home/iot.jpg" />
      </div>
    </div>
  </div>

  <hr>

  <h2> Bonjour ! </h2> 
  <p> Maxime here, a french IoT (Internet of Things) Engineer. </p>
  <p> You clicked your way through here. It can mean few things:</p>
  <ol>
    <li>You have interest in IoT or engineering</li>
    <li>Your a colleague, a friend or an acquitance</li>
    <li>You lost your way through the Web (it happens to me all the time don't worry)</li>
  </ol>
  <p>Welcome !</p>
  <p>You may have noticed the huge title up there with this rather catchy acronyme : <b>IoT</b>.</p>
  <p></p>
</div>
