<div class="container" (click)="this.collapseSidebarService.collapseSidebar()">
 
  <div class="row justify-content-center">
    <div class="col-12" style="margin: 20px;">
      <p class="title">Need <b>IoT</b> in Your Projects ?</p>
      <br>
      <p class="title">I can help with that</p>
    </div>
  </div>

  <div class="justify-content-center smallImg">
    <div class="col-12">
      <div>
        <img class="mainImg" src="assets/home/board.jpg" />
      </div>
      <div class="sign">+</div>
      <div>
        <img class="mainImg" src="assets/home/earth.jpg" />
      </div>
      <div class="sign">=</div>
      <div>
        <img class="mainImg" src="assets/home/iot.jpg" />
      </div>
    </div>
  </div>

  <div class="col-12 bigImg">
    <div class="row align-item-center">
      <div class="d-flex" style="vertical-align: middle;">
        <img class="flex-fill mainImg" src="assets/home/board.jpg" />
        <div class="flex-fill sign">+</div>
        <img class="flex-fill mainImg" src="assets/home/earth.jpg" />
        <div class="flex-fill sign">=</div>
        <img class="flex-fill mainImg" src="assets/home/iot.jpg" />
      </div>
    </div>
  </div>

  <hr>
</div>
