@import '../../@theme/styles/themes';

@include nb-install-component() {

  .lastP {
    margin-bottom: 0;
  }

  .success b {
    color: nb-theme(color-success-400);
  }

  .primary b {
    color: nb-theme(color-primary-400);
  }

  .center-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  nb-alert p {
    text-align: justify;
    text-justify: inter-word;
  }

  .iot {
    font-size: 2rem;
  }

  .pict,
  .pictiot {
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .pict {
    width: 200px;
    height: 200px;
    margin: 20px 0 30px 0;
  }

  .pictiot {
    width: 180px;
    height: 180px;
  }

  .title {
    font-size: 3rem;
    line-height: 5rem;
  }

  .title b {
    color: nb-theme(color-primary-400);
  }

  .smallImg {
    display: none;
    text-align: center;
  }

  .bigImg {
    display: block;
  }

  .smallImg .mainImg {
    width: 50%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bigImg .mainImg {
    padding: 0;
    width: 25%;
    object-fit: cover;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }

  .bigImg .d-flex {
    align-content: center;
  }

  .sign {
    margin: 15px;
    font-size: nb-theme(text-heading-1-font-size);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  .smallImg .sign {
    margin: 20px;
  }

  .bigImg .sign {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }

  nb-card-body {
    text-align: center;
  }


  @media (max-width: 768px) {

    .iot {
      font-size: 1rem;
    }

    .title {
      font-size: nb-theme(text-heading-4-font-size);
      line-height: 2.5rem;
    }

    .smallImg {
      display: block;
    }

    .bigImg {
      display: none;
    }
  }
}
