$theMaxWidth: 700px;
$theWidth: 68vh;

img {
  // width: $theWidth;
  max-width: $theWidth;
  // object-fit: contain;
}

.theLabel {
  margin: 10px;
  width: $theWidth;
  max-width: $theMaxWidth;
  text-align: center;
}
